$serverKey = 'AAAAwrF4rrY:APA91bG1gC_LjCBLVvkCwcXQWh6nUyFqq5GZOhUrYnSud_eiuogQPTrkBmSbjDxfvzOgNgCwZf6LADwkzyU7_5oQFk1'; // Reemplaza esto con tu clave del servidor de Firebase

$objectsData = [
  [
      "uniqueID" => "!23242424",
      "token" => "eUmf3xgjS9C6allknajOwl:APA91bFkZ43TV45M3H7awBOlgVYvAo5bXpKHojyHuWh_JxPwygigBiXm9V2ecGbMMksfjksfkjsf"
  ],
  [
      "uniqueID" => "!55555555",
      "token" => "euV_2EkdQ1akicH31ROziG:APA91bErNNkAzqRdVsvi0qIS1Sn2siWWXEpFz6lMzrHWww6OY4Yc6yz_JKFJYnzV8xrJgIGUSnDmsjfskjfkj"
  ]
];